{% extends "homebase.html" %}

{% block title %} {{ categoryData.title }} {% endblock %}
{% block keywords %} {{ categoryData.keywords }} {% endblock %}
{% block description %} {{ categoryData.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block slider %}

    <!-- Start Proerty header  -->

    <section id="aa-property-header" style="background-image: url('{{ accommodations.first.thumbnail.url }}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>KONAKLAMA</h2>
                        <ol class="breadcrumb">
                            <li><a href="/">HOME</a></li>
                            <li class="active"> {{ categoryData.title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Proerty header  -->

{% endblock %}
{% block content %}

    <!-- Start Properties  -->
    <section id="aa-properties">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="aa-properties-content">
                        <!-- start properties content head -->
                        <div class="aa-properties-content-head">
                            <div class="aa-properties-content-head-left">
                                <form action="" class="aa-sort-form">
                                    <label for="">Sort by</label>
                                    <select name="">
                                        <option value="1" selected="Default">Default</option>
                                        <option value="2">Name</option>
                                        <option value="3">Price</option>
                                        <option value="4">Date</option>
                                    </select>
                                </form>
                                <form action="" class="aa-show-form">
                                    <label for="">Show</label>
                                    <select name="">
                                        <option value="1" selected="12">6</option>
                                        <option value="2">12</option>
                                        <option value="3">24</option>
                                    </select>
                                </form>
                            </div>
                            <div class="aa-properties-content-head-right">
                                <a id="aa-grid-properties" href="#"><span class="fa fa-th"></span></a>
                                <a id="aa-list-properties" href="#"><span class="fa fa-list"></span></a>
                            </div>
                        </div>

                        <!-- Start properties content body -->
                        <div class="aa-properties-content-body">
                            <ul class="aa-properties-nav">

                                {% for rs in accommodations %}
                                    <li>
                                        <article class="aa-properties-item">
                                            <a class="aa-properties-item-img" href="#">
                                                <img alt="img" src="{{ rs.thumbnail.url }}">
                                            </a>
                                            <div class="aa-tag for-rent">
                                                %20 İndirim
                                            </div>
                                            <div class="aa-properties-item-content">
                                                <div class="aa-properties-info">
                                                    <span>{{ rs.category }}</span>
                                                    <span> {% if rs.star %} {{ rs.star }}
                                                        <i class="fa fa-star"></i> {% else %}
                                                        <i class="fa fa-hotel"></i> {% endif %} </span>
                                                    <span>{{ rs.city }}</span>
                                                </div>
                                                <div class="aa-properties-about">
                                                    <h3>
                                                        <a href="/accommodation/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                                    </h3>
                                                    <p>{{ rs.description }}</p>
                                                    <p>{{ rs.address }}</p>
                                                </div>
                                                <div class="aa-properties-detial">
                                                    <span class="aa-price"><i class="fa fa-dollar"></i>550 - 458</span>
                                                    <a class="aa-secondary-btn"
                                                       href="/accommodation/{{ rs.id }}/{{ rs.slug }}">View Details</a>
                                                </div>
                                            </div>
                                        </article>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>

                        <!-- Start properties content bottom -->
                        <div class="aa-properties-content-bottom">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Start properties sidebar -->
                <div class="col-md-4">
                    <aside class="aa-properties-sidebar">
                        <!-- Start Single properties sidebar -->
                        <div class="aa-properties-single-sidebar">
                            <h3>Properties Search</h3>
                            <form action="/search/" method="post">
                                {% csrf_token %}
                                <div class="aa-single-advance-search">
                                    <input id="query" name="query" type="text" placeholder="ANAHTAR KELİME GİRİNİZ">
                                </div>
                                {% load mptt_tags %}
                                <div class="aa-single-advance-search">
                                    <select name="catid">
                                        <option value="0" selected>KATEGORİ</option>
                                        {% recursetree category %}
                                            <option value="{{ node.id }}">{{ node.title }}</option>
                                            {% if not node.is_leaf_node %}
                                                {{ children }}
                                            {% endif %}
                                        {% endrecursetree %}
                                    </select>
                                </div>
                                <div class="aa-single-advance-search">
                                    <input type="submit" value="Search" class="aa-search-btn">
                                </div>
                            </form>
                        </div>
                        <!-- END properties sidebar -->
                </div>
                </aside>
            </div>
        </div>
        </div>
    </section>
    <!-- / Properties  -->

{% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}


