{% extends "homebase.html" %}

{% block title %} {{ accommodation.title }} {% endblock %}
{% block keywords %} {{ accommodation.keywords }} {% endblock %}
{% block description %} {{ accommodation.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 2
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
  </script>
    <script>
        $(function () {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui) {
            var selectedObj = ui.item;
        }

    </script>

{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block slider %}

    <section id="aa-property-header" style="background-image: url('{{ accommodation.thumbnail.url }}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>KONAKLAMA</h2>
                        <ol class="breadcrumb">
                            <li><a href="/">HOME</a></li>
                            <li>
                                <a href="/category/{{ accommodation.category.id }}/{{ accommodation.category }}">{{ accommodation.category }}</a>
                            </li>
                            <li class="active">{{ accommodation.slug }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block content %}

    <!-- Start Properties  -->
    <section id="aa-properties">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="aa-properties-content">
                        <!-- Start properties content body -->
                        <div class="aa-properties-details">
                            <div class="aa-properties-details-img">
                                <img src="{{ accommodation.thumbnail.url }}" alt="img">
                                {% for rs in images %}
                                    <img src="{{ rs.image.url }}" alt="img">
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <aside class="aa-properties-sidebar">
                        <div class="aa-properties-single-sidebar">
                            <h3>BAŞKA OTELLERİ ARAYIN</h3>
                            <form action="/search/" method="post">
                                {% csrf_token %}
                                <div class="aa-single-advance-search">
                                    <input id="query" name="query" type="text"
                                           placeholder="Anahtar kelimeyi giriniz...">
                                </div>
                                {% load mptt_tags %}
                                <div class="aa-single-advance-search">
                                    <select name="catid">
                                        <option value="0" selected>KATEGORİ</option>
                                        {% recursetree category %}
                                            <option value="{{ node.id }}">{{ node.title }}</option>
                                            {% if not node.is_leaf_node %}
                                                {{ children }}
                                            {% endif %}
                                        {% endrecursetree %}
                                    </select>
                                </div>
                                <div class="aa-single-advance-search">
                                    <input type="submit" value="ARA" class="aa-search-btn">
                                </div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-md-12">
                    <div class="aa-properties-details">
                        <div class="aa-properties-info">
                            <h2> {{ accommodation.title }} -
                                {% if accommodation.star %}
                                    <i class="fa fa-star{% if accommodation.star < 1 %}-o{% endif %}"></i>
                                    <i class="fa fa-star{% if accommodation.star < 2 %}-o{% endif %}"></i>
                                    <i class="fa fa-star{% if accommodation.star < 3 %}-o{% endif %}"></i>
                                    <i class="fa fa-star{% if accommodation.star < 4 %}-o{% endif %}"></i>
                                    <i class="fa fa-star{% if accommodation.star < 5 %}-o{% endif %}"></i>
                                {% else %}
                                    <i class="fa fa-hotel"></i>
                                {% endif %}
                            </h2>
                            <p>
                                <i class="fa fa-map-marker"></i>{{ accommodation.address }} - {{ accommodation.city }}
                            </p>
                            <span class="aa-price">
                                <i class="fa fa-dollar"></i>{{ accommodation.get_room_min_price }} - {{ accommodation.get_room_max_price }}
                            </span>
                            <div class="aa-title">
                                <h2>DETAYLAR</h2>
                                <span></span>
                            </div>
                            <p>{{ accommodation.detail | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ROOM SECTION -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- ROOMSs -->
                    <div class="aa-nearby-properties">
                        <div class="aa-title">
                            <h2> ODALAR </h2>
                            <span></span>
                        </div>
                        <div class="aa-nearby-properties-area">
                            <div class="row">
                                <div class="aa-signin-area">
                                    <form action="/reservation/details/" method="post">
                                        {% csrf_token %}
                                        <div class="aa-title" style="background-color: lightgray; text-align: center">
                                            <div class="aa-single-form" style="padding: 10px">
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                                            {{ message }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                                <h3>Rezervasyon Yapma</h3>
                                                <label for="checkin">Giriş*</label>
                                                <i class="fa fa-calendar-check-o"></i>
                                                <input type="text" id="from" required="required" aria-required="true"
                                                       name="checkin">
                                                <label for="checkout">Çıkış*</label>
                                                <i class="fa fa-calendar-times-o"></i>
                                                <input type="text" id="to" required="required" aria-required="true"
                                                       name="checkout">
                                                <label for="person">Kişi Sayısı*</label>
                                                <i class="fa fa-user"></i>
                                                <input type="number" required="required" aria-required="true"
                                                       name="person" min="1" value="" style="width: 50px">
                                                <button type="submit" class="btn aa-secondary-btn" style="width: 35%">
                                                    REZERVASYON YAP
                                                </button>
                                            </div>
                                        </div>
                                        <table class="table" cellpadding="3" width="100%">
                                            <tr style="color: white; background-color: black">
                                                <th width="25%">Oda Tipi</th>
                                                <th width="5%">Kişi</th>
                                                <th width="45%">Detaylar</th>
                                                <th width="10%">Gecelik</th>
                                                <th width="10%">Müsait Oda</th>
                                                <th width="5%"></th>
                                            </tr>
                                            {% for rs in rooms %}
                                                <tr>
                                                    <td>
                                                        <img alt="img" src="{{ rs.thumbnail.url }}"
                                                             width="100%">
                                                    </td>
                                                    <td>
                                                        <script language="JavaScript1.2">
                                                            var sayi =
                                                            {{ rs.person }}
                                                            for (i = 0; i < sayi; i++)
                                                                document.write("<i class=\"fa fa-user\"></i>")
                                                        </script>
                                                    </td>
                                                    <td>
                                                        <h4>{{ rs.title }}</h4>
                                                        {{ rs.detail |safe }}
                                                    </td>
                                                    <td><i class="fa fa-dollar"></i>{{ rs.price }}</td>
                                                    <td>
                                                        {% if rs.amount > 0 %}
                                                            <i class="fa fa-bed"></i> {{ rs.amount }}
                                                        {% else %}
                                                            <i class="fa fa-bed"></i> 0
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if rs.amount > 0 %}
                                                            <input type="radio" value="{{ rs.id }}" name="roomid"
                                                                   required="required"> Seç
                                                        {% else %}
                                                            <i class="fa fa-lock"></i>
                                                        {% endif %}

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- SOCIAL SECTION -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-properties-social">
                        <ul>
                            <li>Share</li>
                            <li><a href="/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="/"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="/"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- COMMENT VIEW SECTION -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-comments-area">
                        <h3>{{ comments.id }} Comments</h3>
                        <div class="comments">
                            <ul class="commentlist">
                                {% load static %}
                                {% for rs in comments %}
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <img alt="img" src="{{ rs.user.userprofile.image.url }}"
                                                     class="media-object news-img">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="author-name">{{ rs.user.username }}</h4>
                                                <span class="comments-date">{{ rs.create_at }}</span>
                                                <span class="author-tag">
                                                        <i class="fa fa-star{% if rs.rate < 1 %}-o{% endif %}"></i>
                                                        <i class="fa fa-star{% if rs.rate < 2 %}-o{% endif %}"></i>
                                                        <i class="fa fa-star{% if rs.rate < 3 %}-o{% endif %}"></i>
                                                        <i class="fa fa-star{% if rs.rate < 4 %}-o{% endif %}"></i>
                                                        <i class="fa fa-star{% if rs.rate < 5 %}-o{% endif %}"></i>
                                                    </span>
                                                <p>{{ rs.comment }}</p>
                                                <a class="reply-btn" href="#">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- comments pagination -->
                            <!-- TODO: BURAYI DÜZENLE -->
                            <nav>
                                <ul class="pagination comments-pagination">
                                    <li>
                                        <a aria-label="Previous" href="#">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a aria-label="Next" href="#">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- COMMENT SECTION -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="respond">
                        <h3 class="reply-title">Yorum Yap</h3>
                        <form id="commentform" action="/accommodation/addcomment/{{ accommodation.id }}"
                              method="POST">
                            {% csrf_token %}
                            <p class="comment-notes">
                                <span class="required">*</span> ile işaretlenmiş alanları doldurmak zorunludur.
                            </p>
                            <p class="comment-form-author">
                                <label for="subject">Konu: <span class="required">*</span></label>
                                <input type="text" name="subject" id="id_subject" required="required" size="30"
                                       value="">
                            </p>
                            <p class="comment-form-author">
                                <label for="rate">Puan: <span class="required">*</span></label>
                            <div class="container">
                                <div class="stars">
                                    <!-- TODO: STARS BURAYI DÜZENLE -->
                                    <input type="radio" name="rate" id="star1" size="30" value="1"/><label
                                        for="star1"> <i class="fa fa-star"></i>1</label>
                                    <input type="radio" name="rate" id="star2" size="30" value="2"/><label
                                        for="star1"> <i class="fa fa-star"></i>2</label>
                                    <input type="radio" name="rate" id="star3" size="30" value="3"/><label
                                        for="star1"> <i class="fa fa-star"></i>3</label>
                                    <input type="radio" name="rate" id="star4" size="30" value="4"/><label
                                        for="star1"> <i class="fa fa-star"></i>4</label>
                                    <input type="radio" name="rate" id="star5" size="30" value="5"/><label
                                        for="star1"> <i class="fa fa-star"></i>5</label>
                                </div>
                            </div>
                            </p>
                            <p class="comment-form-comment">
                                <label for="comment">Yorum: <span class="required">*</span></label>
                                <textarea required="required" id="id_comment" required="required"
                                          aria-required="true" rows="8" cols="45" name="comment"></textarea>
                            </p>
                            <p class="comment-notes">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}"
                                             role="alert">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </p>
                            <p class="form-submit">
                                {% if user.id is not None %}
                                    <input type="submit" value="Post Comment" class="aa-browse-btn"
                                           name="submit">
                                {% else %}
                                    Yorumunuzu eklemek için giriş yapınız !
                                {% endif %}
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}



