{% extends 'homebase.html' %}

{% block title %} Konaklama Arama Sonucları {% endblock %}
{% block keywords %} {{ category.keywords }} {% endblock %}
{% block description %} {{ category.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}


{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block slider %}
    <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Hakkımızda</h2>
            <ol class="breadcrumb">
            <li><a href="/">Ana Sayfa</a></li>
            <li class="active">Arama</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}

    <div class="section">
        <div class="container">
            <div class="container">
                <table cellpadding="3" width="1200">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                    {% for rs in accommodations %}
                        <tr>
                            <td><a href="/accommodation/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.thumbnail.url }}" style="width: 200px" alt=""></a></td>
                            <td><h4><a href="/accommodation/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                            </h4></td>
                            <td><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}">{{ rs.category }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}