{% load static %}

{% block head %}
    <script>
        $(function () {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui) {
            var selectedObj = ui.item;
        }
    </script>
{% endblock %}

<!-- Advance Search -->
<section id="aa-advance-search">
    <div class="container">
        <div class="aa-advance-search-area">
            <div class="form">
                <div class="aa-advance-search-top">
                    <div class="row">
                        <form action="/search/" method="post">
                            {% csrf_token %}
                            <div class="col-md-4">
                                <div class="aa-single-advance-search">
                                    <input id="query" name="query" type="text" placeholder="İdeal Otelinizi Ara!">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="aa-single-advance-search">
                                    {% load mptt_tags %}
                                    <select name="catid">
                                        <option value="0" selected>Kategori</option>
                                        {% recursetree category %}
                                            {% if node.is_leaf_node %}
                                                <option value="{{ node.id }}">{{ node.title }}</option> {% endif %}
                                            {% if not node.is_leaf_node %}
                                                <optgroup label="{{ node.title }}">
                                                    <option value="{{ node.id }}"> {{ node.title }} </option>
                                                    {{ children }}
                                                </optgroup>
                                            {% endif %}
                                        {% endrecursetree %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="aa-single-advance-search">
                                    <button class="aa-search-btn">Ara <i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Advance Search -->

<!-- Latest property -->
<section id="aa-latest-property">
    <div class="container">
        <div class="aa-latest-property-area">
            <div class="aa-title">
                <h2>SON EKLENEN YERLER</h2>
                <span></span>
                <p>Yeni eklenen yerlere göz atın. En iyi tatili kendiniz seçin.</p>
            </div>
            <div class="aa-latest-properties-content">
                <div class="row">

                    {% for rs in accommodations %}
                        <div class="col-md-4">
                            <article class="aa-properties-item">
                                <div>
                                    <a href="/accommodation/{{ rs.id }}/{{ rs.slug }}" class="aa-properties-item-img">
                                        <img style="width: 360px; height: 240px" src="{{ rs.thumbnail.url }}" alt="img">
                                    </a>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>{{ rs.category }}</span>
                                            <span>
                                                {% if rs.star %}
                                                    <i class="fa fa-star{% if rs.star < 1 %}-o{% endif %}"></i>
                                                    <i class="fa fa-star{% if rs.star < 2 %}-o{% endif %}"></i>
                                                    <i class="fa fa-star{% if rs.star < 3 %}-o{% endif %}"></i>
                                                    <i class="fa fa-star{% if rs.star < 4 %}-o{% endif %}"></i>
                                                    <i class="fa fa-star{% if rs.star < 5 %}-o{% endif %}"></i>
                                                {% else %}
                                                    <i class="fa fa-hotel"></i>
                                                {% endif %}
                                            </span>
                                            <span><i class="fa fa-map-marker"></i> {{ rs.city }}</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="/accommodation/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                            </h3>
                                            <p>{{ rs.description }}</p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                <i class="fa fa-dollar"></i>{{ rs.get_room_min_price }} - {{ rs.get_room_max_price }}
                                            </span>
                                            <a href="/accommodation/{{ rs.id }}/{{ rs.slug }}" class="aa-secondary-btn">Detayları
                                                Gör</a>
                                        </div>
                                    </div>
                            </article>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Latest property -->

<!-- Promo Banner Section -->
<section id="aa-promo-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-banner-area">
                    <h3>İdeal Otelinizi Bulun !</h3>
                    <p>Belirli bir otel veya ünlü bir yer aramayı deneyin! 175 Milyondan fazla toplu otel
                        değerlendirmesi ve 19 milyondan fazla resim sayesinde, seyehat ettiğiniz yer
                        hakkında daha fazla veriye ulaşabilirsiniz.</p>
                    <a href="#" class="aa-view-btn">OTELİNİ ARA</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo Banner Section -->

<!-- About us -->
<section id="aa-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-about-us-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-about-us-right">
                                <div class="aa-title">
                                    <h2>Hakkımızda</h2>
                                    <span></span>
                                </div>
                                <p>{{ setting.aboutus | safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / About us -->

<!-- Client Testimonial -->
<section id="aa-client-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-client-testimonial-area">
                    <div class="aa-title">
                        <h2>Kullanıcılarımız Ne Söylemiş?</h2>
                        <span></span>
                        <p>Kullanıcılarımızdan gelen bazı yorumlara buradan göz atabilirsiniz.</p>
                    </div>
                    <!-- testimonial content -->
                    <div class="aa-testimonial-content">
                        <!-- testimonial slider -->
                        <ul class="aa-testimonial-slider">
                            {% for rs in comments %}
                                <li>
                                    <div class="aa-testimonial-single">
                                        <div class="aa-testimonial-img">
                                            <img src="{{ rs.user.userprofile.image.url }}" alt="testimonial img">
                                        </div>
                                        <div class="aa-testimonial-info">
                                            <p><a class="aa-secondary-btn"
                                                  href="accommodation/{{ rs.hotel.id }}/{{ rs.hotel.slug }}">{{ rs.hotel.title }}</a>
                                                <br><br>{{ rs.comment }}</p>
                                        </div>
                                        <div class="aa-testimonial-bio">
                                            <p>{{ rs.user.userprofile.fullname }}</p>
                                            <span>
                                            <a class="aa-view-btn">
                                            <i class="fa fa-star{% if rs.rate < 1 %}-o{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 2 %}-o{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 3 %}-o{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 4 %}-o{% endif %}"></i>
                                            <i class="fa fa-star{% if rs.rate < 5 %}-o{% endif %}"></i>
                                            </a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Testimonial -->

<!-- Latest blog -->
<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <div class="aa-title">
                        <h2>Tatitliniz için yeni fikirlere mi ihtiyacınız var?</h2>
                        <span></span>
                        <p>İstanbul'un en romantik otellerinden Antalya'nın 5 yıldızlı otellerine kadar, FastBooking
                            Magazine'in 200'den fazla yazısıyla özel otel deneyimlerini keşfedin.</p>
                    </div>
                    <div class="aa-latest-blog-content">
                        <div class="row">

                            <!-- start single blog -->
                            {% for rs in lastContent %}
                                <div class="col-md-4">
                                    <article class="aa-blog-single">
                                        <figure class="aa-blog-img">
                                            <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                                <img alt="img" src="{{ rs.thumbnail.url }}">
                                            </a>
                                            <span class="aa-date-tag">{{ rs.create_at.date }}</span>
                                        </figure>
                                        <div class="aa-blog-single-content">
                                            <h3>
                                                <a href="/content/{{ rs.id }}/{{ rs.slug }}">
                                                    {{ rs.title }}
                                                </a>
                                            </h3>
                                            <p>{{ rs.description }}</p>
                                            <div class="aa-blog-single-bottom">
                                                <a class="aa-blog-author"
                                                   href="/content/{{ rs.id }}/{{ rs.slug }}">
                                                    <i class="fa fa-user"></i> {{ rs.user }}
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Latest blog -->