{% load static %}
<header id="aa-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-header-area">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="aa-header-left">
                                <div class="aa-telephone-no">
                                    <span class="fa fa-phone"></span>
                                    {{ setting.phone }}
                                </div>
                                <div class="aa-email hidden-xs">
                                    <span class="fa fa-envelope-o"></span> {{ setting.email }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="aa-header-right">
                                {% if user.id %}
                                    <a href="/user/" class="aa-register">{{ user.username }}</a>
                                    <a href="/logout/" class="aa-login">Log Out</a>
                                {% else %}
                                    <a href="/register/" class="aa-register">Register</a>
                                    <a href="/login/" class="aa-login">Login</a>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>