{% load static %}
<!-- Start menu section -->
<section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- Text based logo -->
                <a class="navbar-brand aa-logo" href="/"> FAST <span>BOOKING</span></a>
                <!-- Image based logo -->
                <!-- <a class="navbar-brand aa-logo-img" href="index.html"><img src="img/logo.png" alt="logo"></a> -->
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">

                    <!-- item  class="active" -->
                    {% if page == 'home' %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    <a href="/">ANA SAYFA</a></li>


                    <!-- item -->
                    {% if page == 'konaklama' %}
                        <li class="dropdown active">
                            {% else %}
                        <li class="dropdown">
                    {% endif %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">KONAKLAMA KATEGORİ<span
                            class="caret"></span></a>

                    {% load mptt_tags %}
                    <ul class="dropdown-menu" role="menu">
                        {% recursetree category %}
                            <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a></li>
                            <ul class="children" style="margin-left:15%;">
                                <li>
                                    {% if not node.is_leaf_node %}
                                        {{ children }}
                                    {% endif %}
                                </li>
                            </ul>
                        {% endrecursetree %}
                        </li>

                    </ul>
                    </li>

                    <!-- item -->
                    {% if page == 'content' %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="/content">BLOG</a></li>

                    <!-- item -->
                    {% if page == 'hakkimizda' %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="/hakkimizda">HAKKIMIZDA</a></li>

                    <!-- item -->
                    {% if page == 'referanslar' %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="/referanslar">REFERANSLAR</a></li>

                    <!-- item -->
                    {% if page == 'iletisim' %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="/iletisim">İLETİŞİM</a></li>

                     <!-- item -->
                    {% if page == 'faq' %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="/faq">SSS <i class="fa fa-info-circle"></i></a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</section>
<body>
<!-- End menu section -->