{% load static %}
<section id="aa-slider">
    <div class="aa-slider-area">
      <!-- Top slider -->
      <div class="aa-top-slider">

          {% for rs in sliderdata %}
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="{{ rs.thumbnail.url }}" alt="img">
                <!-- Top slider content -->
                <div class="aa-top-slider-content">
                    <span class="aa-top-slider-catg">{{ rs.category }}</span>
                    <h2 class="aa-top-slider-title">{{ rs.title }}</h2>
                    <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>{{ rs.address }} - {{ rs.city }}</p>
                    <span class="aa-top-slider-off">{{ rs.description }} {% if rs.star %} - {{ rs.star }}  Stars {% endif %} </span>

                    <p class="aa-top-slider-price">100$</p>
                    <a href="/accommodation/{{ rs.id }}/{{ rs.slug }}" class="aa-top-slider-btn">Detaylar <span class="fa fa-angle-double-right"></span></a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
          {% endfor %}
    </div>
</section>