{% extends "homebase.html" %}

{% block title %} UserProfile - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block slider %}

    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>Hesap Bilgileri Güncelleme</h2>
                        <ol class="breadcrumb">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li class="active"><a href="/user/">User</a></li>
                            <li class="active">Password</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block content %}

    <!-- Start Blog  -->
    <section id="aa-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-blog-area">
                        <div class="row">
                            <!-- Start blog sidebar -->
                            <div class="col-md-3">

                                {% include 'user_panel.html' %}

                            </div>
                            <div class="col-md-9">
                                <h2>KULLANICI BİLGİLERİ</h2>
                                <div class="content" style="margin-top: 10px; ">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <p>
                                                {{ field.label_tag }}<br>
                                                {{ field }}
                                                {% if field.help_text %}
                                                    <small style="color: grey">{{ field.help_text }}</small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                    <p style="color: gray">{{ error }}</p>
                                                {% endfor %}
                                            </p>
                                        {% endfor %}
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div style="color: red; font-size: medium">
                                                    {{ message | safe  }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <button class="btn btn-success" type="submit">Kaydet</button>
                                        <a class="btn btn-danger" href="/user/">Geri</a>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}