{% extends "homebase.html" %}

{% block title %} UserProfile - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block slider %}

    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>KULLANICI PANELİ</h2>
                        <ol class="breadcrumb">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li class="active">user</li>
                            <li class="active">contents</li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block content %}

    <!-- Start Blog  -->
    <section id="aa-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-blog-area">
                        <div class="row">
                            <!-- Start blog sidebar -->
                            <div class="col-md-3">

                                {% include 'user_panel.html' %}

                            </div>
                            <div class="col-md-9">
                             {% if user.is_staff %}
                                  {% include 'user_content_is_staff.html' %}
                                 {% else %}
                                 <div class="alert alert-danger" role="alert">
                                     <p>İÇERİKLERİ SADECE ADMİNLER GÖREBİLİR.</p>
                                 </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}