{% extends "homebase.html" %}

{% block title %} UserProfile - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block slider %}

    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>KULLANICI PANELİ</h2>
                        <ol class="breadcrumb">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li class="active">User</li>
                            <li class="active">Comments</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block content %}

    <!-- Start Blog  -->
    <section id="aa-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-blog-area">
                        <div class="row">
                            <!-- Start blog sidebar -->
                            <div class="col-md-3">

                                {% include 'user_panel.html' %}

                            </div>
                            <div class="col-md-9">
                                <h2>YORUMLARIM</h2>
                                <div style="margin-top: 10px; ">
                                    <table class="table" cellpadding="3" width="100%">
                                        <tr class="text-left">

                                            <th>Konaklama</th>
                                            <th>Puan</th>
                                            <th>Konu</th>
                                            <th>Yorum</th>
                                            <th>Durum</th>
                                            <th>Tarih</th>
                                            <th></th>
                                        </tr>
                                        {% for rs in comments %}
                                            <tr class="text-left">
                                                <td>
                                                    <a style="color: #000eff"
                                                       href="/accommodation/{{ rs.hotel.id }}/{{ rs.hotel.slug }}/">
                                                        {{ rs.hotel.title }}
                                                    </a>
                                                </td>
                                                <td>{{ rs.rate }}</td>
                                                <td>{{ rs.subject }}</td>
                                                <td>{{ rs.comment }}</td>
                                                <td>{{ rs.status }}</td>
                                                <td>{{ rs.create_at.date }}</td>
                                                <td>
                                                    <a class="btn btn-danger"
                                                       href="/user/deletecomment/{{ rs.id }}"
                                                       onclick="return confirm('Silinecek ! Emin misin?')">Sil</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }}" role="alert">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}