{% extends "homebase.html" %}

{% block title %} UserProfile - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block slider %}

    <section id="aa-property-header" style="background-image: url('{{ current_user.image.url }}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>Hesap Bilgileri</h2>
                        <ol class="breadcrumb">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li class="active">user</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block content %}

    <!-- Start Blog  -->
    <section id="aa-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-blog-area">
                        <div class="row">
                            <!-- Start blog sidebar -->
                            <div class="col-md-3">

                                {% include 'user_panel.html' %}

                            </div>
                            <div class="col-md-9">
                                <h2>KULLANICI BİLGİLERİ</h2>
                                <div style="margin-top: 10px; ">
                                    <table class="table" cellpadding="3" width="100%">
                                        <!--<tr>
                                            <th>Picture</th>
                                             <th><img src="{{ current_user.image.url }}" width="40px"/></th>
                                        </tr>-->
                                        <tr class="text-left">
                                            <th>Name</th>
                                            <td>{{ current_user.username }}</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{ current_user.user.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>Phone</th>
                                            <td>{{ current_user.phone }}</td>
                                        </tr>
                                        <tr>
                                            <th>Address</th>
                                            <td>{{ current_user.address }}</td>
                                        </tr>
                                        <tr>
                                            <th>City
                                            <td>{{ current_user.city }}</td>
                                        </tr>
                                        <tr>
                                            <th>Country</th>
                                            <td>{{ current_user.country }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}